extends layout 

block content
    .inner 
        h2 Celebrate With Us Here
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder="Join us at..." name="geolocate")
            #map
                p Loading Map....

