extends layout 

block content
    .inner 
        h2 Celebrate With Us

        .addresses    
            p.address Bridal Shower
            span Address to Be Announced!
            p.address Wedding Ceremony 
            span Address to Be Announced!
            p.address Reception
            span Address to Be Announced!
    
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder="Join us at..." name="geolocate")
            #map
                p Loading Map....

