doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nicole + Jason
    body 
        .nav_bar 
            li.nav_item
                span Registry 
            li.nav_item
                span Address 
            li.nav_item
                span Registry 
            
        .div 
            p Nicole + Jason
            .div.homepage 
                img(src="/images/flower.jpg", alt="flower", width="550")