doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nicole + Jason
    body 
        .nav_bar 
            li.nav_item: a(href="http://amazon.com")
                != h.icon('ring')
                span Registry 
            li.nav_item: a(href="/map") 
                != h.icon('location')
                span Address 
            li.nav_item: a(href="/photots") 
                != h.icon('photo')
                span Photos 
            
        .div 
            p Nicole + Jason
            .div.homepage 
                img(src="/images/flower.jpg", alt="flower", width="550")