doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        link(rel="shortcut icon" type="image/png" href="/images/icons/ring.svg")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nicole + Jason
    body 
        .nav_bar 
            li.nav_item: a(href="/")
                != h.icon('ring')
                p.nav_title Home 
            li.nav_item: a(href="/registry")
                != h.icon('gift')
                p.nav_title Registry 
            li.nav_item: a(href="/addresses") 
                != h.icon('location')
                p.nav_title Address 
            li.nav_item: a(href="/photos") 
                != h.icon('photo')
                p.nav_title Photos 
        
        .content 
            block content
    
    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")