doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nicole + Jason
    body 
        .nav_bar 

            li.nav_item: a(href="/")
                != h.icon('ring')
                span Home 
            li.nav_item: a(href="http://amazon.com")
                != h.icon('ring')
                span Registry 
            li.nav_item: a(href="/addresses") 
                != h.icon('location')
                span Address 
            li.nav_item: a(href="/photots") 
                != h.icon('photo')
                span Photos 
        
        .content 
            block content