extends layout

block content
    h2 Share Your Photos of The Beautiful Couple!

    .img
        img(src="/images/snowmobiling.jpg", alt="snowmobiling")
    .img
        img(src="/images/winter.jpg", alt="winter")
    .img
        img(src="/images/upnorth.jpg", alt="upnorth")
    .img
        img(src="/images/home.jpg", alt="home")
    .img
        img(src="/images/beachy.jpg", alt="beachy")