extends layout 

block content 
    h2 Get the Beautiful Couple Something Nice!

    .img
        img(src="./images/gift.jpg", alt="gift" class="gift")

    .registries
        li.registered: a(href="http://amazon.com") 
            p Amazon
        li.registered: a(href="http://target.com") 
            p Target
        li.registered: a(href="https://www.bedbathandbeyond.com/") 
            p Bed, Bath, and Beyond