h2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 40px;
  font-size: 60px;
  color: black;
  text-shadow: $shadow;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.img {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  margin-top: 30px;
  border: 2px solid lightgray;
  box-shadow: $shadow;
}
