body {
  margin: 0;
  background: url("../../images/background.jpg") no-repeat;
  display: block;
  background-size: cover;
}

h2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 40px;
  font-size: 60px;
  background: $rosegoldgrad;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: $shadow;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.img {
  display: flex;
  justify-content: center;
  max-width: 65vw;
  margin: auto;
  margin-bottom: 30px;
  border: 10px solid white;
  box-shadow: $shadow;
}
