.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background: black;
  height: 15vh;
}

.title {
  letter-spacing: 5px;
}

.nav_bar {
  display: flex;
  list-style: none;
  color: white;
  background-color: black;
  box-shadow: $shadow;
}

.nav_item {
  display: flex;
  flex: auto;
  justify-content: center;
  justify-items: center;
}

.nav_title {
  font-family: cursive;
  font-size: 20px;
}

svg {
  display: flex;
  margin: auto;
  width: 20px;
}

svg:not(:root) {
  overflow: hidden;
  fill: $rosegold;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
