.nav_bar {
  display: flex;
  list-style: none;
  width: 100%;
  color: white;
  background-color: black;
  box-shadow: 0px 5px lightgray;
}

.nav_item {
  display: flex;
  flex: auto;
  justify-content: center;
  justify-items: center;
}

svg {
  display: flex;
  margin: 5px 20px 20px 5px;
  width: 25px;
}

svg:not(:root) {
  overflow: hidden;
  fill: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
