.registries {
  display: flex;
  justify-content: center;
}
.registered {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 70vw;
}

.store {
  color: white;
  font-size: 30px;
  text-shadow: $shadow;
}

