.registries {
  display: flex;
  justify-content: center;
}
.registered {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.store {
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-shadow: $shadow;
  font-size: 30px;
}

.img {
  display: flex;
  margin: 50px;
  border: 10px solid black;
}
